<%- include("layout/header") %>
    <main class="contact-main">
        <h2>Contact Us:</h2>
        <p>Email: mdratulanjum@gmail.com</p>
        <p>Phone: 01799742945</p>
        <p>Adress: Azimpur,Dhaka</p>
    </main>
<%- include("layout/footer") %>