
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body{
    background-color: wheat;
}
header{
    background-color: cadetblue;
}
header nav ul {
    display:flex;
    justify-content: center;
    align-items: center;
    height:16vh;
    list-style: none;
}
header nav ul li a{
    text-decoration: none;
    padding:10px 30px;
    background-color: tomato;
    margin: 0  10px;
    color:white;
    font-weight: 500;
    font-size:17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
}
header nav ul li a:hover{
    color:black;
    background-color:aquamarine;
}
main{
    height: 71vh;
    overflow: auto;
}
main form{
    width:100%;
    margin: 0 auto;
    margin-top:5vh;
    margin-bottom: 3vh;
    text-align: center;
}
form input, button{
    border: none;
    outline:none;
    background-color: whitesmoke;
    padding:8px 10px;
    border-radius:2px;
    font-size:14px;
    margin: 0 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form input::placeholder{
    font-family:monospace;
    font-size:16px;
}
form button{
    font-weight: 700;
    border-radius: 5px;
}
main ul {
    list-style: none;
    width:50%;
    margin: 0 auto;
}
main ul li{
    background-color: whitesmoke;
    margin: 8px 0;
    padding: 2px 10px;
    border-radius:5px;
    font-size:18px;
    font-family: cursive;
}
main p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size:18px;
}
.contact-main{
    background-color: aquamarine;
}
footer{
    height:13vh;
    background-color: gray;
    font-size: 18px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
